<header id="main-header">
  <nav>
    <div>
      <a href="/">Início</a>
      <a href="/inscricoes">Inscrições</a>
      <a href="/matriculas">Matrículas</a>
    </div>
    <div>
      <a id="username" href="/perfil">Não conectado</a>
      <button id="toggle-menu-btn" type="button">MENU</button>
    </div>
  </nav>
</header>